<% include header2 %>
  <script>
  
  
  </script>
  <article class="col-lg-8 col-sm-7">
    <h1>掛號</h1>
        <p>
        <div class="form-group row">
            <label for="class" class="col-sm-2 col-form-label">請選擇區域：</label>
             
              <div class="col-sm-12">
                <form method="post" role="form"  >
                  <select  name=class id="class" size=1 required>
                  <option value=萬里區>萬里區
                  <option value=金山區>金山區
                  <option value=板橋區>板橋區
                  <option value=汐止區>汐止區
                  <option value=深坑區>深坑區
                  <option value=石碇區>石碇區
                  <option value=瑞芳區>瑞芳區
                  <option value=平溪區>平溪區
                  <option value=雙溪區>雙溪區
                  <option value=貢寮區>貢寮區
                  <option value=新店區>新店區
                  <option value=坪林區>坪林區
                  <option value=烏來區>烏來區
                  <option value=永和區>永和區
                  <option value=中和區>中和區
                  <option value=土城區>土城區
                  <option value=三峽區>三峽區
                  <option value=樹林區>樹林區
                  <option value=鶯歌區>鶯歌區
                  <option value=三重區>三重區
                  <option value=新莊區>新莊區
                  <option value=泰山區>泰山區
                  <option value=林口區>林口區
                  <option value=蘆洲區>蘆洲區
                  <option value=五股區>五股區
                  <option value=八里區>八里區
                  <option value=淡水區>淡水區
                  <option value=三芝區>三芝區
                  <option value=石門區>石門區
                  </select>
                  <br>
                  <br>
                   <input type="submit"  value="送出" class="btn btn-default">
                  </form>

              </div>
            </div>
          
           
        </p>
        <div class="clearfix visible-xs visible-lg"></div>
      </article>
      
      </div>

<% include footer %>