<% include header4 %>
  <div class="container">
  <h2 class="col-sm-offset-4"><%= data[0][0].id  %>的個人頁面</h2>
  <form class="form-horizontal" method="post" role="form" >
        <div class="form-group">
          <label for="name" class="control-label col-sm-1 col-sm-offset-4">姓名：&nbsp</label>
            <div class="col-sm-7">
               <label for="name" class="control-label"><%= data[0][0].name  %></label>
            </div>
          </div>
        <div class="form-group">
          <label for="sex" class="control-label col-sm-1 col-sm-offset-4">性別：&nbsp</label>
            <div class="col-sm-7">
               <label for="sex" class="control-label"><%= data[0][0].sex  %></label>
            </div>
          </div>
        <div class="form-group">
          <label for="age" class="control-label col-sm-1 col-sm-offset-4">年齡：&nbsp</label>
            <div class="col-sm-7">
               <label for="age" class="control-label"><%= data[0][0].age  %></label>
            </div>
          </div>
          
        <div class="form-group">
          <label for="put" class="control-label col-sm-1 col-sm-offset-4">掛號：&nbsp</label>
            <div class="col-sm-7">
               <label for="sex" class="control-label"><a href="/index2">我的掛號<a></label>
            </div>
            </div>
          </div>
          
          <label for="age" class="control-label col-sm-1 col-sm-offset-4"></label>
            <div class="col-sm-7">
            <input type="submit"  value="登出" class="btn btn-default">
            </div>
          </div>    
    </form>
    </div>


<% include footer %>