<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
 <title>愛貓壇</title>
  <link rel="stylesheet" 
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  <script src="https://code.jquery.com/jquery-1.9.1.js"></script>
</head>
<body><strong>
	<nav class="row">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
		  <div class="navbar-header">
			<a href="#" class="navbar-brand"></a>
		  </div>
		  	<ul class="nav navbar-nav">
			    <li class="active"><a href="./">首頁</a></li>
			    <li><a href="/Api2">掛號</a></li>
			    <li><a href="/Api">動物醫院查詢</a></li>
		  	</ul> 
		</nav>
	</nav>
	  <header class="bgimage">
	        <div class="container"> 
	          <img src="https://lh3.googleusercontent.com/D_9K5YMJtOsKky8t_9lkm1B-NPWPxdTGV_3pgc6r5RxKWvROO4-e-2IGByXMkDUtv_-ILaEJKdju1-Cw8SXLw1YJCTq1ixjlLvtzvFkDQX1Ixu0EvQIyWHpdGEMKq-tmOwe4UVFT8Dh9OqsBDvri3Q1ueyR-rjWiIyTDI-G3Ja4K7nbmVKKJo_UiRtB6wyHOB-EUvIDAmXrspduud_RiaUH-3jYFI0FmkQDli4yKDqnVgyA_IC-Hc6FYPhSmp4ahHHTE9OzRIyB33NrVY66I8E3KLVKjtK-2RNo4fsU9KjjD_PtghJWx4ghis3aVVHOcUjv-MTBcl11ul5afiDkhCawzWCuIISvf8yRmkTtTExlz_5uW0kOyYvOQjovo86kutzjdvd2OorqxAV2uW4msA8dW3CsIr2yHdLkTqgEUBMOL42vroYjc0-cn6t09GdZ3Or3iQVwSbJzcKAYZhit34L37NCEBtgopZeGgQ_Zpc6D8kUmpeyQAGhiZM12xy2iqKbgTRP6J2q1AfBF0GgihPMojyskYqyO2KhOORRagP5k7rD6TcxAOCTiWxVRQFNjYo93KI9GGjOgKORC5wRne5KVMpc1U8a2CFj9WXD9xQedhSr7MZzH6E-FVbgUrLrtxNcRy4nqQuwriremosf-E0AA=w131-h54-no" align="left"  alt="愛貓壇" >

	          <a href="/Client"><img src="https://lh3.googleusercontent.com/bqp7ewJyWOb2WKeASXEkREKwilMEvAwYHvT7i7c5IN2uDgLSb-peAsbbzhm7s7WLBudAY-FyAQKvirusJH1E8apsUf8QWVlCG8slcmrXMBfTz8HN29F3UxLArdAzo4w8jkmCum0TnnR01FLCofFE3wwYfp5evo5U1K0aImURZLztGeDO8TFjvz0zmYVsDB832SML12bO86dGX9UvefUDSvIVrdRy60lANFHgwARnbQNUidXv5y-eptMXYtZllQgL8hFaJCekyarNMEAxOwZiWzUykOe-ETUYr3nP6x6ZWADuxZddZarbvOxCB9pNUU7spFqr4h1Q9lpcLIbCW6Aw4FsD46TF0QunxdY5C6GgPhUmst0xZuusVwN5eWOKlgckuyogGn9s0c76ogrdsuBbh7MH34urbQJyLAaVl91PzuDwgUm3qGGBCS4rlKv_tpet3zCMUMepiDW5wJ--S-tMQ6x5f-HzES_OeTpOR6R05c6WqHcD8W7QatGTg0yGB3-6xwYuA_8xOEQmK_qj86ipuUNpufg_-5Busna344DwGsTFPk_YOz3L0jnu3ky2Eh0rCtGe2XJdnRRFrck6HJSlqod0ecMHB8oZ4696H-KdPCGw2eEBZKKLVY2fEW5pVBSx9-yV5GdV8I1qtT0XIqQsReM=w53-h54-no"alt="註冊/登入"
	           class="pull-right" ></a>
	        </div>
		</header>
	<div class="row">
  <aside class="col-xs-3">
       <br></br>
       <ul>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="./">首頁</a></li>
			    <li><a href="/Api2">掛號</a></li>
			    <li><a href="/Api">動物醫院查詢</a></li>
          </ul>
      </ul>
      </aside>