<% include header %>
  <article class="col-lg-8 col-sm-7">
    <h1>首頁</h1>
        <p>
          <table>
            <tr>
                <th>公告</th>
            </tr>
            <tr>
                <td>
                本網站於2019/1/7建立，尚在測試階段!!!
                </td>
                <td>
                目前僅提供註冊及掛號功能
                </td>
            </tr>
    </table>
           
        </p>
        <div class="clearfix visible-xs visible-lg"></div>
      </article>
      
      </div>

<% include footer %>